.canva{
    border:1px solid black;
    background-color: white;
}

body{
    background-color: rgb(25, 222, 166);
}
.size{
    height: 150px;
    width: 150px;
    margin-left: 4em;
   margin-right: 4em;
}

.yes{
text-align: center;
}